/* modal.css */
/* Стили модального окна */
#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

#modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
   position: relative;
  max-height: 90vh;
  overflow-y: auto;
}
.modal-header{
  display: flex;
   justify-content: space-between;
    align-items: center;
   margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.modal-header h2{
  margin-bottom: 0;
}
.close-modal {
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
      position: absolute;
  top: 10px;
  right: 10px;
}

.close-modal:hover {
  color: #333;
}

.modal-body label {
  display: block;
  margin-bottom: 5px;
}

.modal-body input[type="text"],
.modal-body input[type="url"],
.modal-body input[type="number"],
.modal-body input[type="date"],
.modal-body input[type="time"],
.modal-body select,
.modal-body textarea {
  width: calc(100% - 22px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-body textarea {
  min-height: 100px;
}

.modal-footer {
  text-align: right;
    margin-top: 20px;
  border-top: 1px solid #ddd;
     padding-top: 10px;
}

.modal-footer button {
     background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
   transition: background-color 0.3s ease;
}
.modal-footer button:hover {
   background-color: #218838;
}

.checkbox-container {
 margin-bottom: 10px;
   display: flex;
align-items: center;
}
.checkbox-container input {
  margin-right: 5px;
}

.button-group {
 display: flex;
 justify-content: space-between;
 margin-bottom: 10px;
}
.button-group button {
background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ddd;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
   transition: background-color 0.3s ease;
}
.button-group button:hover {
  background-color: #ddd;
}